* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: beige;
}

.main-header {
    width: 700px;
    margin: 0 auto;
    display: flex;
    background-color: #FF5722;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__figure img {
    width: 10rem;
    height: 10rem;
}

.logo__title {
    font-size: 5rem;
    color: white;
    font-weight: bold;
}

.list__item {
    list-style: none;
    display: inline-block;
    color: white;
    margin: 0 1rem;
}

.container {
    width: 700px;
    margin: 0 auto;
    display: grid;
    background-color: white;
}

.articulos h1 {
    padding: 1rem;
}

.articulos p {
    padding: 0 1rem;
}

.main-footer {
    width: 700px;
    display: grid;
    margin: 0 auto;
    background-color: rgb(100, 100, 100);
    text-align: center;
}

.footer-list {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.footer-list__item {
    list-style: none;
    display: inline-block;
    color: white;
    font-family: Arial;
    font-size: 1.3rem;
}

.main-footer__list {
    width: 700px;
    height: 30px;
    display: grid;
    margin: 0 auto;
    background-color: rgb(68, 68, 68);
    align-items: center;
    justify-content: space-evenly;
}

.main-footer p {
    color: white;
    padding: 2rem 0;
    font-family: Arial, Helvetica, sans-serif;
}
